body {
    color: white;
    background-color: #0a1018;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 150px;
    height: 150px;
    border: 5px solid #6ba1e9;
    border-radius: 50%;
}

.center {
    text-align: center;
}

h1 {
    color: #6ba1e9;
}

footer img {
    width: 30px;
    height: 30px;
}

footer {
    display: flex;
    justify-content: center;
    text-align: center;
}

footer a {
    margin: 28px;
    text-align: center;
}

nav a:hover {
    color: #2d73ce;
}

section {
    padding: 10px;
}
.contai {
    padding: 0px 50px;
}
section a {
    color: #6ba1e9;
}